/* footer */

.footer, .footer .foot-right .share-logos .share-logo.share-weixin, .footer .wrap {
    position:relative
}

.footer {
    min-height: 270px;
    background: #1E1E1E;
    color: rgba(255, 255, 255, .5);
    padding: 0 20px 12px;
    box-sizing:border-box
}

.footer .wrap {
    display: flex;
    column-gap:20px
}

.footer .foot-left {
    width: 656px;
    height: 100%;
    margin-top: 45px;
    overflow: hidden;
    font-size: 12px;
    line-height:18px
}

.foot-logo {
    width: 106px;
    height: 26px;
}

.footer .foot-left .foot-logo {
    display:block
}

.footer .foot-left .foot-content {
    margin-top:25px;
    line-height: 18px;
}

.footer .foot-left .foot-copy-right {
    margin-top:27px
}

.footer .foot-left .foot-copy-right p {
    margin-top:2px
}

.footer .foot-left .foot-copy-right a {
    margin-right: .5em;
    color:rgba(255, 255, 255, .5)
}

.footer .foot-left .foot-copy-right a:hover {
    color:#fff
}

.footer .foot-right {
    width: 380px;
    margin-top:45px
}

.footer .foot-right .links-title {
    font-size:18px
}

.footer .foot-right .links {
    margin-top:27px
}

.footer .foot-right .links li {
    float: left;
    padding: 0 2px;
    margin-bottom: 5px;
    margin-right:15px
}

.footer .foot-right .links li a {
    color:rgba(255, 255, 255, .5)
}

.footer .foot-right .links li a:hover {
    color:#fff
}

.footer .foot-right .share-logos {
    margin-top:19px
}

.footer .foot-right .share-logos .iconfont {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    line-height: 42px;
    color: rgba(255, 255, 255, .3);
    display: inline-block;
    font-size: 34px;
    text-indent:-1px
}

.footer .foot-right .share-logos a:hover {
    color:rgba(255, 255, 255, .7)
}

.footer .foot-right .share-logos .share-logo.share-weixin .weixin-code {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -200px;
    left: 0;
    display:none
}

.footer .foot-right .share-logos .share-logo.share-weixin .weixin-code img {
    width: 100%;
    height:100%
}

.footer .foot-right .share-logos .share-logo:hover .weixin-code {
    display:inline-block
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 32px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    box-sizing: border-box;
}