.iconfont {
    font-family: iconfont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
    -webkit-text-stroke-width: 0 !important;
    user-select: none;
}

.block-sidebar {
    position: fixed;
    display: none;
    left: 50%;
    margin-left: 680px;
    top: 350px;
    width: 60px;
    z-index: 99;
}

.block-sidebar .block-sidebar-item {
    font-size: 50px;
    color: #000;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-sidebar .block-sidebar-item:hover {
    background-color: rgba(204, 204, 204);
}

.block-sidebar .block-sidebar-item .icon-car-count {
    right: 0;
    top: -8px;
    left:auto
}

.block-sidebar .block-sidebar-item .icon-car-count {
    right: 0px;
    top: -8px;
    left: auto;
}

.block-sidebar .block-sidebar-item:hover img {
    opacity:.76 !important
}


@media (max-width: 1500px) {
    :not(#\9) .iconfont-feedback-btn {
        display:none
    }

    :not(#\9) .block-sidebar, :not(#\9) .iconfont-feedback-btn {
        left: auto;
        right: 2%;
        margin-left:0
    }
}
