@font-face {
  font-family: "iconfont"; /* Project id 5062270 */
  src: url('iconfont.woff2?t=1763009715107') format('woff2'),
       url('iconfont.woff?t=1763009715107') format('woff'),
       url('iconfont.ttf?t=1763009715107') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman1:before {
  content: "\e601";
}

.icon-favorites-fill:before {
  content: "\e839";
}

.icon-youjiantou:before {
  content: "\e61f";
}

.icon-remenhot:before {
  content: "\e7c7";
}

.icon-message:before {
  content: "\e694";
}

.icon-top:before {
  content: "\e619";
}

.icon-shang:before {
  content: "\e610";
}

.icon-share:before {
  content: "\e61d";
}

.icon-a-bianzu39:before {
  content: "\e631";
}

.icon-tongzhi:before {
  content: "\e602";
}

.icon-gouwuche:before {
  content: "\e652";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-yuyan-yingwen:before {
  content: "\e609";
}

.icon-weibiaoti1:before {
  content: "\e60b";
}

